---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--  {% assign root = "." %}-->

  <!-- Site Properties -->
  <title>Qualité Perçue</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89956822-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script src='/assets/js/nprogress.js'></script>
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="landing">

  <!-- Page Wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <h1><a class="scrolly" href="#banner">Qualité <span>Perçue</span></a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a class="scrolly" href="#header">Accueil</a></li>
                <li><a class="scrolly" href="#two">Observer</a></li>
                <li><a class="scrolly" href="#three">Comprendre</a></li>
                <li><a class="scrolly" href="#four">Transmettre</a></li>
                <li><a class="scrolly" href="#five">Notre ADN</a></li>
                <li><a class="scrolly" href="#cta">Contact</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="fullscreen-bg">
        <video loop muted autoplay poster="assets/images/banner.jpg" class="fullscreen-bg__video">
          <source src="assets/video/bg.mp4" type="video/mp4">
          <source src="assets/video/bg.webm" type="video/webm">
              </video>
      </div>
      <div class="inner">
        <h2><span class="right">Perçue</span><span class="left">Qualité </span></h2>
        <p>Une méthode et des outils<br /> pour observer, comprendre,<br /> et transmettre.</p>
      </div>
      <a href="#one" class="more scrolly">En savoir plus</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
      <div class="inner">
        <header class="major">
          <h2><i><i class="fa fa-quote-left style6" aria-hidden="true"></i>
Dis-moi et j’oublierai,<br />
                    montre-moi et je me souviendrai, <br />
                    implique-moi et je comprendrai.</i><i class="fa fa-quote-right style6" aria-hidden="true"></i>
</h2>
          <p>Depuis l'observation des gestes professionels<br /> en passant par leur analyse jusqu'à leur enseignement,<br /> nous proposons une autre façon de former les experts de demain.
          </p>
        </header>
        <ul class="icons major">
          <li><a href="#two" class="scrolly"> <span class="icon fa-video-camera major style1"><span class="label">Observer</span></span><br>
          <h4>Observer</h4></a>
          </li>
          <li><a href="#three" class="scrolly"> <span class="icon fa-cogs major style1"><span class="label">Comprendre</span></span><br>
            <h4>Comprendre</h4></a>
          </li>
          <li><a href="#four" class="scrolly"> <span class="icon fa-handshake-o major style1"><span class="label">Transmettre</span></span><br>
            <h4>Transmettre</h4></a>
          </li>
        </ul>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
      <section class="spotlight">
        <div class="image"><img src="assets/images/subcam.png" alt="" /></div>
        <div class="content">
          <h2><span>OBSERVER</span><br />
                      Le protocole Subcam</h2>
          <p>Une prise de vue subjective suivie d'un <i>Replay Interview</i> permettent d'obtenir le meilleur du geste professionel. <br> <i><a href="/assets/pdfs/Protocole_Subcam.pdf">Plus de détails</a></i></p>
        </div>
      </section>
      <section id="three" class="spotlight">
        <div class="image"><img src="assets/images/qp.png" alt="" /></div>
        <div class="content">
          <h2><span>COMPRENDRE</span><br />
                        La méthode qualité perçue</h2>
          <p>Depuis des entretiens anthropologiques des experts métiers jusqu'à une cartographie des pratiques des formateurs et apprenants, la méthode Qualité Perçue permet d'exploiter au maximum les données récoltées.<br><i><a href="/assets/pdfs/Qualite_percue.pdf">Plus de détails</a></i></p>
        </div>
      </section>
      <section id="four" class="spotlight">
        <div class="image"><img src="assets/images/educapsule.png" alt="" /></div>
        <div class="content">
          <h2><span>TRANSMETTRE</span><br />
                          EduCapsule</h2>
          <p>EduCapsule offre une chaîne d'outils pour accompagner la production et la diffusion des contenus. <br> A partir du <i>replay interview</i> jusqu'à la création de capsules, leur mise au catalogue, leur sélection et personnalisation par les formateurs
            ainsi que leur utilisation par les apprenants, eduCapsule accompagne et facilite toute la chaîne de production et de transmission des savoirs.<br><i><a href="/assets/pdfs/eduCapsule.pdf">Plus de détails</a></i></p>
        </div>
      </section>
    </section>

    <!-- five -->
    <section id="five" class="wrapper style3 special">
      <div class="inner">
        <header class="major">
          <h2>Notre ADN<br><img src="/assets/css/images/dna.svg" alt="" class="" /></h2>

          <p>L'équipe de Qualité perçue mobilise des experts de différentes disciplines autour d'une même démarche :<br /> accompagner la transmission des compétences et proposer une autre vision de la formation.</p>
        </header>
        <ul class="features">
          <li class="icon fa-check">
            <h3>Fait par des professionels,<br> pour former des professionels</h3>
            <p>Tous nos contenus sont basés sur des séquences d'activités de professionnels reconnus. </p>
          </li>
          <li class="icon fa-star">
            <h3>Des partenaires d'excellence</h3>
            <p>Nous avons choisi de nous concentrer sur le domaine de l'hotellerie et la restauration dans un premier temps. Des partenaires d'excellence, tels que <a href="">Lenôtre</a>, nous ont accompagnés et soutenus dans notre démarche.</p>
          </li>
          <li class="icon fa-laptop">
            <h3>Une suite d'outils et de méthodes sur mesure</h3>
            <p> Au croisement de l'anthropologie, l'ingénierie didactique, la psychologie, l'analyse de l'activité, le développement logiciel et l'expérience utilisateur, nous offrons une approche simple, efficace et cohérente, intégrée dans la suite d'outils
              qui la soutient.</p>
          </li>
          <li class="icon fa-graduation-cap">
            <h3>L'évaluation par compétences</h3>
            <p>Les éléments ajoutés par les formateurs dans les capsules (questions ou exercices) peuvent être rattachés à des compétences afin d'assister leur évaluation, que cette évaluation soit propre à une discipline, ou partagée entre plusieurs.</p>
          </li>
          <li class="icon fa-globe">
            <h3>Des outils polyglotes</h3>
            <p>Chez eduCapsule, on parle toutes les langues du monde. Alors l'interface est multilingue et les vidéos sont sous-titrables.</p>

          </li>
          <li class="icon fa-tags">
            <h3>Redéfinir les disciplines</h3>
            <p>Nous nous basons exclusivement sur un système de tags et de traces d'usages (compétences associées, commentaires, sous-titres, <i>etc.</i>) pour proposer des contenus.
              <br> Ce choix nous permet de mettre au jour le "territoire" réel d'un métier, au delà de sa définition en termes de disciplines, et d'en proposer une formation plus adaptée aux besoins des professionnels.</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
      <div class="inner">
        <header>
          <h2>Vous souhaitez nous contacter?</h2>
          <p>Cliquez sur le bouton orange et remplissez le court questionnaire pour que nous puissions répondre au mieux à votre demande.</p>
        </header>
        <ul class="actions vertical">
          <li><a href="https://framaforms.org/qualite-percue-21-mai-2018-1527601751" target="_blank" class="button special"><i class="fa fa-paper-plane-o"></i>&nbsp;Nous contacter</a></li>
        </ul>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Qualité Perçue</li>
        <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a> &amp; <a href="http:/www.neatastic.com" target="_blank">Neatastic</a> </li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

</body>


</html>
